<div class="auth-container">
    <h2>Register</h2>
    <form action="/register" method="post">
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Type your name" required>
        </div>
        <div class="form-control">
            <label for="email">E-mail::</label>
            <input type="email" name="email" placeholder="Type your e-mail" required>
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Type your password" required>
        </div>
        <div class="form-control">
            <label for="confirmpassword">Confirm your password:</label>
            <input type="password" name="confirmpassword" placeholder="Repeat your password" required>
        </div>
        <input type="submit" value="Register">
        <p>Already have account? <a href="/login">Click here!</a></p>
    </form>
</div>