@media screen and (max-width:375px){
    .campo{
        width: 300px;
        height: 40px;
        Font-size: 20px;
        Line-height: 35px;
        Line-height: 100%;
        text-align: start;}

        .entrar{
            color: white;
            background-color:black;
            Width: 300px;
            Height: 40px;
            margin-bottom: 43px;
            border: none;
            Font-family: Roboto;
            Font-style: Regular;
            Font-size: 20px;

         }

}