/* 1. Estilos gerais
/************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

a,
ol,
ul {
    text-decoration: none;
    list-style: none;
    color: #000;
}

html {
    font-family: 'Roboto', sans-serif;
}


.max-width-content {
    width: 100%;
    padding: 0px 74.5px 0px 74.5px;

}

.img-main {
    width: 100%;
}

.img__shelf {
    width: 232px;
    height: 232px;
    display: flex;
    padding: 4px 4px
}

.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    padding: 15px 0px 5px;
    justify-content: center;
}


.title__dep {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 45px 0px 85px 0px;
}

.bold {
    font-weight: 700;
}

.filters__title {
    font-size: 14px;
    display: block;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 34px;
}


.shelf__installments {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #7B7B7B;
}

.line {
    margin-top: 18px;
    border-bottom: 1px solid #888888;
}

.bg-grey {
    background-color: #323232;
}

.flex {
    display: flex;
    align-items: center;
}