/*header*/

#superior{
    height: 30px;
}

#infos{
    height: 19px;
    width: 1394px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 16px;
    padding-top: 7px;
}
#inferior{
    height: 80px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.logo{
    padding-top: 39px;
}

#titulos{
    width: 800px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-top: 57px;
}

.pesquisar{
    padding-top: 48px;
}

#icones{
    font-size: 25px;
    padding-top: 42px;
}

/* main - corpo da pagina - superior */

main{
    display: flex;
    flex-direction: column;
}

div>nav{
    display: flex;
    margin-left: 550px;
    margin-top: 50px;
    margin-bottom: 30px;
}
div>nav>h2{
    text-decoration: none;
    color: rgba(98, 98, 98, 1);
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 12px;
    Line-height: 14px;
    Line-height: 100%;
    margin-left: 10px;
}

div>nav>h2>a{
    text-decoration: none;
    color: rgba(98, 98, 98, 1);
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 12px;
    Line-height: 14px;
    Line-height: 100%;
}

#sec1{
    display: flex;
    justify-content: center;
}

#direita{
    flex-direction: column;
    margin-left: 30px;
}

/* direita - top */
#top{
    display: flex;
}

#top>div{
    margin-left: 20px;
}

#top>div>h3{
    Font-family: Roboto;
    Font-style: SemiBold;
    Font-size: 30px;
    Line-height: 35px;
    Line-height: 100%;    
    color: #303030;
}

#top>div>#p1{   
    margin-top:10px; 
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 16px;
    Line-height: 100%;
    color: rgba(0, 0, 0, 0.25);
}

#top>div>#p2{
    margin-top: 30px;
    Font-family: Roboto;
    Font-style: SemiBold;
    Font-size: 20px;
    Line-height: 20px;
    Line-height: 100%;
}

#top>div>#p2>span{
    color: red;
    font-size: 15px;
    text-decoration: line-through;
}

#top>div>#p3{
    margin-top:5px; 
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 16px;
    Line-height: 100%;
    color: rgba(0, 0, 0, 0.25);
}

/* direita - mid */
#mid{
    display: flex;
}

#mid>div>h3{
    margin-left: 20px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 20px;
    Line-height: 16px;
    Line-height: 100%;
    color: rgba(0, 0, 0, 0.25);
}

#mid>div>#escolhaTamanho{
    display: flex;
    margin-left: 20px;
}

#mid>div>#escolhaTamanho>.tamanhos{
    Width:50px;
    Height: 40px;
    border: 0.5px solid black;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 10%;
}
#mid>div>#escolhaTamanho>.tamanhos:hover{
    cursor: pointer;
}


#mid>div>#escolhaTamanho>.tamanhos>p{
    display: flex;
    margin-top: 13px;
    justify-content: center;
    color: black;
}

#mid>div>p{
    margin-left: 20px;
    margin-top: 35px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 20px;
    Line-height: 18px;
    Line-height: 100%;
    color: #292929;  
}


#mid>div>p>input{
    border-radius: 10%;
    height: 15px;
    width: 40px;
    margin-left: 112px;
    box-shadow: 0px 10px 70px black;
}


/* direita - bot */
#bot{
    display: flex;
}

#bot>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#bot>div>.cores{
    display: flex;
    justify-content: start;
    margin-top: 50px;
}

#bot>div>.cores>p{
    margin-left: 20px;
    margin-top:10px; 
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 18px;
    Line-height: 16px;
    Line-height: 100%;
    color: rgba(0, 0, 0, 0.25);
}

#bot>div>.cores>.cor{
    border-radius: 100%;
    Width:35px;
    Height: 35px;
    margin-left: 10px;
}

#bot>div>.cores>.cor:hover{
    cursor: pointer;
    box-shadow: 0px 10px 70px black;
}

#bot>div>.cores>#azulclaro{
    background-color: #296BA0;
    border-radius: 100%;
    margin-left: 20px;

}

#bot>div>.cores>#azulescuro{
    background-color: #083359;

}

#bot>div>.cores>#rosa{
    background-color: pink;
}

#bot>div>.cores>#vermelho{
    background-color:red;
}

#bot>div>.cores>#preto{
    background-color: #000;
}


#bot>div>div>#carrinho{
    margin-top: 50px;
    margin-left: 20px;
    color: white;
    background-color:black;
    Width: 400px;
    Height: 50px;
    margin-bottom: 43px;
    border: none;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 25px;
    Line-height: 40px;
    Line-height: 100%;
    text-decoration: none;
    border-radius: 3%;
}

#bot>div>div>#carrinho>a{
    text-decoration: none;
    color: white;
}

#carrinho:hover{    
    cursor: pointer;
    transition: 1.5s;
    box-shadow: 0px 10px 40px black;
}

#descricao{
    margin-top: 20px;
    margin-left: 160px;
    width: 400px;
}

#descricao>h4{
    Font-family: Roboto;
    Font-style: Bold;
    Font-size: 20px;
    Line-height: 23px;
    color:#363636
}

#descricao>p{
    margin-top: 5px;
    Font-family: Roboto;
    Font-style: Light;
    Font-size: 20px;
    Line-height: 19px;
    Line-height: 100%;
    text-align: justify;
    color: #000000;
}

/* main - inferior - prateleira */

#sec2{
    display: flex;
    flex-direction: column;
}

#sec2>h3{
    Font-family: Roboto;
    Font-style: Medium;
    Font-size: 30px;
    Line-height: 35px;
    Line-height: 100%;
    color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 40px;
}

#sec2>#prateleira{
    display: flex;
    justify-content: center;
}

#prateleira>.card{
    margin-left: 20px;
}

#prateleira>.card:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 1px solid #f2f2f2;
}

#prateleira>.card:hover>.btn{
    opacity: 1;
    position: relative;
}


#prateleira>.card>a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

#prateleira>.card>a>h2{
    Font-family: Roboto;
    Font-style: Light;
    Font-size: 20px;
    Line-height: 23px;
    Line-height: 100%;
    color: #363636;
    padding-top: 10px;
    padding-bottom: 20px;
}


#prateleira>.card>a>h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    padding-bottom: 15px;
    color: #000000;
}


#prateleira>.card>a>p{
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 19px;
    Line-height: 100%;
    color: #7B7B7B;
}

#prateleira>.card>.btn{
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    height: 40px;
    margin-top: 20px;
    width: 100%;
    opacity: 0;
}

.espaco{
    margin-bottom: 250px;
}

/* footer */


.barracinza{
    height: 80px;
    background-color: rgba(135, 135, 135, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 .barracinza>div>h2{
    Font-family: Roboto;  
    Font-style: Bold;
    Font-size: 20px;
    Line-height: 29px;
    Line-height: 100%;
    margin-left: 100px;
    color: white;
 }
 
 .barracinza>div>p{
    font-style: Roboto;
    font-Weight: 400;
    font-Size: 13px;
    color: white;
    margin-top: 10px;
    margin-left: 100px;
 }
 
 .barracinza>div>input[type="text"]{
    background-color: white;
    Width: 380px;
    Height:35px;
    border: none;  
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 19px;
    Line-height: 100%;
    Vertical-align: Top;
 }
 
 .barracinza>div>button{
    Width:158px;
    Height: 37px;
    background-color: black;
    color: white;
 }
 
 .barracinza>div>button:hover{
    cursor: pointer;
    transition: 1.5s;
    box-shadow: 0px 10px 40px black;
 }
 
 .telapreta{
    background-color: black;
    padding-top: 20px;
    padding-bottom:20px;
 }
 
 .telapreta .superior{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 .telapreta .superior>#esquerda{
    margin-top: 20px;
 }
 
 .paragrafos{
    margin-top: 15px;
    color: white;
 }
 
 #iconesinferior{
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
 }
 
 #tamanhoimagem{
    width: 300px;
    height: 300px;
 }

