/* 1. Main - Dados Pessoais
/************************************/
.account__dados {
    display: flex;
}

.acc__dados {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 24px;
    width: 132px;
    font-size: 13px;
    gap: 6px;
}

.acc__dados:hover {
    background: #e3e3e3;
    border-radius: 5px;

}

/* 1. Main - Formulário de edição dos dados
/************************************/
.account__form-edit {
    border: 1px solid #888888;
    width: 380px;
    height: 290px;
    border-radius: 5px;
    padding: 20px;
}

.form__edit {
    display: flex;
    flex-direction: column;
}