/* 1. header
/************************************/

header {
    border-bottom: 1px solid #ededed;
}

#profile {
    display: flex;
    justify-content: center;
}


/* 2. Main
/************************************/
.account__user-info {
    display: flex;
    margin-top: 66px;
    gap: 7px;
}

.account__user-greeting {
    padding-top: 24px;
    font-size: 20px;
}

.account__link {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#account {
    display: flex;
    padding-bottom: 181px;
}

.account__page {
    margin-top: 84px;
    margin-left: 32px;
}

.account__itens {
    cursor: pointer;
    padding: 7px;
    line-height: 35px;
    color: #979899;
    width: 275px;
    height: 23px;
    font-size: 16px;
    background: none;
    outline-style: none;
    border: none;
    text-align: initial;
}

.account__itens:hover {
    color: #000;
}

.account__form {
    border: 1px solid #888888;
    width: 531px;
    height: 299px;
    border-radius: 5px;
    padding: 20px;
}


.profile__form {
    gap: 255px;
}

.profile__form-email {
    gap: 63px;
}

.profile__form-date {
    gap: 151px;
}

.acc_edit {
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 475px;
    width: 68px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.acc_edit:hover {
    background-color: #e3e3e3;
    border-radius: 5px;
}

/* 4. Theme
/************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0px;
    font-size: 16px;
}

a,
ol,
ul {
    text-decoration: none;
    list-style: none;
    color: #000;
}

h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    padding-bottom: 14px;
    padding-left: 15px;
}

html {
    font-family: 'Roboto', sans-serif;
}

.max-width-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.item-c {
    padding: 7px;
    line-height: 35px;
    width: 164px;
    height: 23px;
    color: #000;
    background: #e3e3e3;
    border-radius: 4px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.acc__on-base {
    color: #3f3f40;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 35px;
}

.acc__on-disabled {
    color: #979899;
    font-size: 15px;
}

.d-flex {
    display: flex;
    padding-bottom: 42px;
    flex-wrap: wrap;
}


/* 3. Footer
/************************************/

@media (max-width: 930px) {
    .account__link {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        width: 261px;
    }

    #account {
        height: 500px;
        margin: 0px 14px;
    }

    .item-c,
    .account__itens {
        width: 180px;
    }

    .account__form {
        border: 1px solid #888888;
        width: 280px;
        height: 300px;
        border-radius: 5px;
        padding: 20px;
        position: absolute;
    }

    .profile__form {
        gap: 120px;
    }

    .d-flex {
        display: flex;
        padding-bottom: 21px;
        flex-wrap: wrap;
    }

    .profile__form-email,
    .profile__form-date {
        gap: 19px;
    }

    .acc_edit {
        margin-left: 218px;
        width: 68px;
        height: 28px;
        position: relative;
    }
}

@media (max-width: 576px) {
    .account__page {
        margin-left: -39px;
    }
}

@media (max-width: 414px) {
    #account {
        display: flex;
        flex-direction: column;
    }

    .account__page>h2 {
        padding-left: 37px;
        font-size: 20px;
    }

    .profile__form {
        gap: 30px;
    }

    .account__form {
        margin-left: 39px;
        width: 233px;
        padding: 6px;
        height: 373px;
    }

    .account__page {
        margin-top: 84px;
    }

    .acc_edit {
        margin-left: 163px;
        height: 17px;
    }

    footer {
        padding-top: 194px;
    }

    .container_institutional {
        flex-direction: column;
        gap: 25px;
        margin-left: -50px;
    }

    .news__container,
    .container_institutional {
        margin: 0px 1px;
    }

    .news_btn {
        width: 117px;
    }
}

