@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* main - corpo */

 section{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 section>div>h1{
   margin-top: 100px;
   margin-bottom: 10px;
    Font-family: Roboto;
    Font-style: Light;
    Font-size: 35px;
    Line-height: 45px;
    Line-height: 100%;
    color: rgba(0, 0, 0, 0.7);
 }
 
 section>#p1{
    Font-family: Roboto;
    Font-style: Light;
    Font-size: 20px;
    Line-height: 25px;
    Line-height: 100%;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    margin-bottom: 45px;
 }
  
 span:hover{
    cursor: pointer;
    transition: 0.4s;
    color: black;
    font-size: 16px;
 }
 
 
 .campo{
    background-color: #D9D9D9;
    Width: 500px;
    Height: 60px;
    margin-bottom: 43px;
    border: none;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 25px;
    Line-height: 35px;
    Line-height: 100%;
    text-align: start;
 }
 
 #entrar{
   color: white;
   background-color:black;
   Width: 500px;
   Height: 60px;
   margin-bottom: 43px;
   border: none;
   font-size: 1.5em; 
   font-weight:500;
   margin-bottom: 400px;
}

#entrar:hover{
   cursor: pointer;
   transition: 1s;
   box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.532);
}

#entrar>a{
   color: white;
   Font-family: Roboto;
   Font-style: Regular;
   Font-size: 39px;
   Line-height: 40px;
   Line-height: 100%;
}

/*////////// responsividade //////////*/

@media (max-width: 576px) {

   section>div>h1{
       margin-top: 20px;
       margin-bottom: 30px;
       font-size: 25px;
   }

   section>#p1{
       Font-family: Roboto;
       Font-style: Light;
       Font-size: 15px;
       Line-height: 25px;
       Line-height: 100%;
       color: rgba(0, 0, 0, 0.7);
       margin-top: 0px;
       margin-bottom: 35px;
    }
       .campo{
       width: 300px;
       height: 40px;
       Font-size: 20px;
       Line-height: 35px;
       Line-height: 100%;
       text-align: start;}

       #entrar{
           color: white;
           background-color:black;
           Width: 300px;
           Height: 40px;
           margin-bottom: 120px;
           border: none;
           Font-family: Roboto;
           Font-style: Regular;
           Font-size: 20px;
        }

}


