@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* main - corpo */

 section{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 section>div>h1{
    margin-top: 50px;
    Font-family: Roboto;
    Font-style: Light;
    Font-size: 30px;
    Line-height: 45px;
    Line-height: 100%;
    color: rgba(0, 0, 0, 0.7);
 }
 
 section>#p1{
    Font-family: Roboto;
    Font-style: Light;
    Font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    margin-bottom: 45px;
 }
  
 span:hover{
    cursor: pointer;
    transition: 0.4s;
    color: black;
    font-size: 16px;
 }
 
 
 .campo{
   padding: 7px;
   border: 2px solid #f0f0f0;
   Width: 476px;
   Height: 26px;
   margin-bottom: 5px;
   border-radius: 5px;
   font-family: Roboto;
   font-size: 20px;
 }
 
 #entrar{
   color: white;
   background-color: black;
   Width: 495px;
   Height: 50px;
   border: none;
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 10px;
   border-radius: 5px;
}

#entrar:hover{
   cursor: pointer;
   transition: 1s;
   box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.532);
}

#entrar>a{
   color: white;
   Font-family: Roboto;
   Font-style: Regular;
   Font-size: 39px;
   Line-height: 40px;
   Line-height: 100%;
}

#p3 {
   
}

.form-control i{
   visibility: hidden;
   position: relative;
}

.form-control small {
   bottom: 0;
   font-size: 13px;
   padding: 3px;
   visibility: hidden;
}

.form-control.success input {
   border-color: #2ecc71;

}

.form-control.error input {
   border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
   color: #2ecc71;
   visibility: visible;
   position: relative;
   right: 20px;
}

.form-control.error i.fa-exclamation-circle {
   color: #e74c3c;
   visibility: visible;
}

.form-control.error small {
   visibility: visible;
   color: #e74c3c;
}

.msg-erro {
   padding-bottom: 10px;
}


/*////////// responsividade //////////*/

@media (max-width: 576px) {

   section>div>h1{
       margin-top: 20px;
       margin-bottom: 30px;
       font-size: 25px;
   }

   section>#p1{
       Font-family: Roboto;
       Font-style: Light;
       Font-size: 15px;
       Line-height: 25px;
       Line-height: 100%;
       color: rgba(0, 0, 0, 0.7);
       margin-top: 0px;
       margin-bottom: 35px;
    }
       .campo{
       width: 300px;
       height: 40px;
       Font-size: 20px;
       Line-height: 35px;
       Line-height: 100%;
       text-align: start;}

       #entrar{
           color: white;
           background-color:black;
           Width: 300px;
           Height: 40px;
           margin-bottom: 20px;
           border: none;
           Font-family: Roboto;
           Font-style: Regular;
           Font-size: 20px;
        }

}


