#sec1{
    margin-top: 62px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

#sec1>.tituloEsq{
    width: 400px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.23em;
    font-variant: small-caps;
    color: #000000;
}

#sec1>.tituloDir{
    width: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.2em;
    font-variant: small-caps;
    color: #000000;
    margin-left: 300px;
}

#sec1>.tituloDir>ul{
    display: flex;    
    justify-content: space-between;
}

#sec1>.tituloDir>ul>li{
    list-style-type: none;
}

#sec2{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    border-bottom: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

#sec2>.desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.2em;
    color: #000000;
    flex-wrap: wrap;
}

#sec2>.desc>.descProd{
    padding-left: 30px;
}

#sec2>.desc>.imgDesc{
    width: 240px;
    height: 240px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#sec2>.valores{
    display: flex;    
    justify-content: space-between;
    width: 600px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: #000000;
    align-items: center;
    flex-wrap: wrap;
}

#sec2>.valores>div>.trash{
  font-size: 25px;
}

#sec3{
    padding-top: 40px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    flex-wrap: wrap;
}

#sec3>.desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.2em;
    color: #000000;
    flex-wrap: wrap;
}

#sec3>.desc>.descProd{
    padding-left: 30px;
}


#sec3>.desc>.imgDesc{
    width: 240px;
    height: 240px;
    text-align: center;
}

#sec3>.valores{
    display: flex;    
    justify-content: space-between;
    width: 600px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: #000000;
    align-items: center;
}

#sec3>.valores>div>.trash{
  font-size: 25px;
}

#sec4{
    max-width: 1200px;
    display: flex;
    justify-content:space-between;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: black;
    padding-bottom: 100px;
}

#sec4 .finalPedido{
    display: flex;
    flex-direction: column;
}


#sec4 .finalPedido .totalPedido{
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#sec4 .finalPedido .cupom{
    display: flex;
}

#sec4 .finalPedido .fecharPedido{
    display: flex;
}

#sec4 .escProd #btn_escolher{
    width: 250px;
    height: 40px;
    font-family: 'Roboto'; 
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    background-color: black;
    color:white;
}

#sec4 .finalPedido .totalPedido{
    padding-bottom: 10px;
    display:flex;
}

#sec4 .finalPedido .totalPedido .totalPedidoValor{
    padding-right: 190px;
}

#sec4 .cupom .cupomName{
    padding-right: 180px;
}

#sec4 .fecharPedido .subtotal .subTotalValor{
    padding-right: 270px;
}


#sec4 .fecharPedido #finalizarCompra{
    margin-left: 50px;
}

#sec4 .fecharPedido .subtotal{
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#sec4 .fecharPedido #finalizarCompra{
    width: 250px;
    height: 30px;
    font-family: 'Roboto'; 
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    background-color: black;
    color:white;
}

@media (max-width: 580px){

    #sec1,
    .sec3,
    #superior,
    #titulos{
        display: none;
    }


    #inferior{
        display:flex ;
        justify-content: space-between;
    }
    
    .descProd{
        padding-left: 0;
    }

    .valores{
        width: auto;
    }

    
/* FOOTER FINAL */
}
