
/* carrousel */
.sec1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    max-width: 1284px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

/* Primeira prateleira de colunas */
#sec2{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
/* Imagem da esquerda abaixo do carrousel */
#sec2-esq{
    width: 300x;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* Titulo acima das imagens */
.lancamentos{
    display: flex;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    justify-content: center;
}
/* seção com os 2 cards com img, nome e preço */
#sec2-dir{
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
}
/* os 2 cards */
#card-master{
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* titulo da imagem */
.title {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #363636;
    padding-top: 8px;
}

/* preço da imagem */
.preço {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    padding: 15px 0px 5px;
    justify-content: center;
    color: #000;
}

/* x no cartao da imagem */
.shelf__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #7B7B7B;
}

.card-body{
    align-items: center;
    text-decoration: none;
}

.card{
    width: 250px;
    height: 300px;
    display:flex ;
}

.card img{
    width: 350px;
}

/* imagem banner */
.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1078px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
/* 1 prateleira de roupas (4 imagens) */
.sec4{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

#cardsImag{
    display: flex;
    flex-wrap: wrap;
}

/* Titulo em cima da 1º ,2º prateleira e @OUTSIDER*/
.titlePrincipaisHome{
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.2em;
    font-variant: small-caps;
    color: #000000;
}

/* os 4 cards da prateleira */
.card1{
    width: 240px;
    height: 240px;
    display: flex;
    margin-left:auto;
    margin-left:auto;   
    flex-direction: column;
    padding-left: 35px;
}


/* imagem banner */
.sec5{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1078px;
    width: 90%;
    height: 263px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 280px;
}

/* 2º prateleira de roupas (4 imagens) */
.sec6{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}


.sec7{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 190px;
}

#sec8{
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#cardsSec8{
    max-width: 936px; 
    margin-left: auto;
    margin-right: auto;
}

.card8{
    width: 240px;
    display: flex;
}

/* botão de comprar de todas as img */
.shelf__btn {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    height: 40px;
    margin: 16px 0px;
    opacity: 0;
    text-decoration: none;
}

.card1:hover .shelf__btn {
    opacity: 1;
    color: white;
}

.card1:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 1px solid #f2f2f2;
}

.shelf_body{
    text-decoration: none;
}

/* ultima prateleira de fotos antes do footer */
#sec8{
    max-width: 1150px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

#sec8>.cardSec8{
    width: 240x;
    height: 240px;
    flex-wrap: wrap;
}


@media (max-width: 580px){

    #superior{
        display: none;
    }

    #titulos{
        display: none;
    }

    .lancamentos{
        margin-top:50px;
        align-items: center;
        display: flex;
    }

    .titlePrincipaisHome{
        margin-bottom: 80px;
        display: flex;
        align-items: center;
    }
    .logo{
        padding-left: 0px;
        display: flex;
        align-items: center;
        order: 3;
    }

    .icones{
        order: 2;
        padding-top: 60px;
    }

    .pesquisar{
        display: none;
    }

    .menuCell {
        padding-left: 0;
        margin-top: 50px;
        width: 40px;
        height: 30px;
    }
    
    #card-master{
        align-items: center;
        display: flex;
    }

    .card1{
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    row-gap: 1px;
    margin: 0px 70px 90px;
    justify-content: center;
    }

    .shelf__btn{
        display: none;
    }
    
    #sec2{
        margin-bottom: -120px;
    }

    .sec3{
        display: none;
    }

    .sec4{
        margin-bottom: -100px;
    }

    .sec5{
        display: none;
    }

    #pesquisar{
        display: none;
    }

    .sec7{
       display: none;
    }

    #sec8{
        display: none;
    }

    #footer{
        padding-top: 120px;
    }

    #sec2-dir{
        display: flex;
        align-items: center;
        padding-top: 100px;
    }

    #card-master{
        display: flex;
        padding-top: 80px;
        align-items: center;
    }

    #card-master.card1{
        margin-top: 80px;
    }

    .one,
    .two,
    .three {
    background-color: #000;
    height: 5px;
    width: 100%;
    margin: 6px auto;
}

.menu__toggle {
    width: 40px;
    height: 30px;
}

.menu__logo {
    order: 1;
    margin-left: 80px;
}
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.115em;
}

.bg-black{
    background-color: black;
}

.text-white {
    color: #fff;
  }
  
.text-black {
    color: #313131;
  }

.disp-flex{
    display: flex;
}

.justify-space-between{
    justify-content: space-between; 
}

.align-itens{
    justify-content: center;
    align-items: center;
}

.justify-space-center{
    justify-content:center ; 
}

.max-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.bg-cinza {
    background-color: #878787;
}

