@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 1. Header
/************************************/


/* main */

section{
   height: 100vh;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

section>#h1{
   Font-family: Roboto;
   Font-size: 30px;
   Line-height: 100%;
   color: rgba(0, 0, 0, 0.7);
}

section>#p1{
   Font-family: Roboto;
   Font-style: Light;
   Font-size: 20px;
   Line-height: 25px;
   Line-height: 100%;
   color: rgba(0, 0, 0, 0.7);
   margin-top: 10px;
   margin-bottom: 45px;
}

section>#p2,#p3{
   margin-bottom: 10px;
   Font-family: Roboto;
   Font-style: Light;
   Font-size: 15px;
   Line-height: 28px;
   Line-height: 100%;
   color: rgba(0, 0, 0, 0.7);
}

span:hover{
   cursor: pointer;
   transition: 0.4s;
   color: black;
   font-size: 16px;
}

section>#p3{
   margin-bottom: 150px;
}


span{
   text-decoration: none;
   color: rgba(0, 0, 0, 0.7);;
}
span:hover{
   cursor: pointer;
   transition: 0.4s;
   color: black;
   font-size: 16px;
}


.campo{
   Width: 476px;
   Height: 26px;
   padding: 7px;
   border-radius: 5px;
   margin-bottom: 27px;
   border: 2px solid #f0f0f0;
   Font-family: Roboto;  
   Font-size: 20px;
}

.entrar{
   color: white;
   background-color: black;
   Width: 495px;
   Height: 50px;
   border: none;
   margin-bottom: 10px;
   border-radius: 5px;
}

.entrar:hover{
   cursor: pointer;
   transition: 1s;
   box-shadow: 0px 10px 30px rgba(77, 77, 77, 0.532);
}

.entrar>a{
   color: white;
   Font-family: Roboto;
   Font-style: Regular;
   Font-size: 39px;
   Line-height: 40px;
   Line-height: 100%;


}

.error-login{
   margin-top: -21px;
   margin-left: 5px;
   margin-bottom: 11px;
   font-size: 13px;
   color: red;
}

.wrapper {
   position: relative;
}

i#btn-show.fa-regular.fa-eye{
   position: relative;
   right: 33px;
   cursor: pointer;
}

i#btn-hidden.fa-regular.fa-eye-slash{
   position: relative;
   right: 56px;
   cursor: pointer;
}

.hidden{
   display: hidden;
}

.none{
   display:none !important;
}

/*////////// responsividade /////////*/

@media screen and (max-width:375px){
   .campo{
       width: 300px;
       height: 40px;
       Font-size: 20px;
       Line-height: 35px;
       Line-height: 100%;
       text-align: start;}

       .entrar{
           color: white;
           background-color:black;
           Width: 300px;
           Height: 40px;
           margin-bottom: 43px;
           border: none;
           Font-family: Roboto;
           Font-style: Regular;
           Font-size: 20px;

        }

}