@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*header*/


/* main - corpo da pagina - superior */

main {
    display: flex;
    flex-direction: column;
}

#sec2>#prateleira {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div>nav>h2 {
    text-decoration: none;
    color: rgba(98, 98, 98, 1);
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 12px;
    Line-height: 14px;
    Line-height: 100%;
    margin-left: 10px;
}

div>nav>h2>a {
    text-decoration: none;
    color: rgba(98, 98, 98, 1);
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 12px;
    Line-height: 14px;
    Line-height: 100%;
}

#sec1>form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#sec1>#esquerda>img {
    position: relative;
    
}
#direita {
    flex-direction: column;
    margin-left: 30px;
}

/* direita - top */
#top {
    display: flex;
}

#top>div {
    margin-left: 20px;
}

#top>div>h3 {
    Font-family: Roboto;
    Font-style: SemiBold;
    Font-size: 30px;
    Line-height: 35px;
    Line-height: 100%;
    color: #303030;
}

#top>div>#p1 {
    margin-top: 10px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 16px;
    Line-height: 100%;
    color: rgba(0, 0, 0, 0.25);
}

#top>div>#p2 {
    margin-top: 30px;
    Font-family: Roboto;
    Font-style: SemiBold;
    Font-size: 20px;
    Line-height: 20px;
    Line-height: 100%;
}

#top>div>#p2>span {
    color: red;
    font-size: 15px;
    text-decoration: line-through;
}

#top>div>#p3 {
    margin-top: 5px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 16px;
    Line-height: 100%;
    color: rgba(0, 0, 0, 0.25);
}

/* direita - mid */
#mid {
    display: flex;
}

#mid>div>h3 {
    margin-left: 20px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 20px;
    Line-height: 16px;
    Line-height: 100%;
    color: rgba(0, 0, 0, 0.25);
}

#mid>div>#escolhaTamanho {
    display: flex;
    margin-left: 20px;
}

#mid>div>#escolhaTamanho>.tamanhos {
    Width: 50px;
    Height: 40px;
    border: 0.5px solid black;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 10%;
}

#mid>div>#escolhaTamanho>.tamanhos:hover {
    cursor: pointer;
}


#mid>div>#escolhaTamanho>.tamanhos>p {
    display: flex;
    margin-top: 13px;
    justify-content: center;
    color: black;
}

#mid>div>p {
    margin-left: 20px;
    margin-top: 35px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 20px;
    Line-height: 18px;
    Line-height: 100%;
    color: #292929;
}


#mid>div>p>input {
    border-radius: 10%;
    height: 15px;
    width: 40px;
    margin-left: 112px;
    box-shadow: 0px 10px 70px black;
}


/* direita - bot */
#bot {
    display: flex;
}

#bot>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#bot>div>.cores {
    display: flex;
    justify-content: start;
    margin-top: 50px;
}

#bot>div>.cores>p {
    margin-left: 20px;
    margin-top: 10px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 18px;
    Line-height: 16px;
    Line-height: 100%;
    color: rgba(0, 0, 0, 0.25);
}

#bot>div>.cores>.cor {
    border-radius: 100%;
    Width: 35px;
    Height: 35px;
    margin-left: 10px;
}

#bot>div>.cores>.cor:hover {
    cursor: pointer;
    box-shadow: 0px 10px 70px black;
}

#bot>div>.cores>#azulclaro {
    background-color: #296BA0;
    border-radius: 100%;
    margin-left: 20px;

}

#bot>div>.cores>#azulescuro {
    background-color: #083359;

}

#bot>div>.cores>#rosa {
    background-color: pink;
}

#bot>div>.cores>#vermelho {
    background-color: red;
}

#bot>div>.cores>#preto {
    background-color: #000;
}


#bot>div>div>#carrinho {
    margin-top: 50px;
    margin-left: 20px;
    color: white;
    background-color: black;
    Width: 400px;
    Height: 50px;
    margin-bottom: 43px;
    border: none;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 25px;
    Line-height: 40px;
    Line-height: 100%;
    text-decoration: none;
    border-radius: 3%;
}

#bot>div>div>#carrinho>a {
    text-decoration: none;
    color: white;
}

#carrinho:hover {
    cursor: pointer;
    transition: 1.5s;
    box-shadow: 0px 10px 40px black;
}

#descricao {
    margin-top: 20px;
    margin-left: 160px;
    width: 400px;
}

#descricao>h4 {
    Font-family: Roboto;
    Font-style: Bold;
    Font-size: 20px;
    Line-height: 23px;
    color: #363636
}

#descricao>p {
    margin-top: 5px;
    Font-family: Roboto;
    Font-style: Light;
    Font-size: 20px;
    Line-height: 19px;
    Line-height: 100%;
    text-align: justify;
    color: #000000;
}

/* main - inferior - prateleira */

#sec2 {
    display: flex;
    flex-direction: column;
}

#sec2>#prateleira {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#sec2>h3 {
    Font-family: Roboto;
    Font-style: Medium;
    Font-size: 30px;
    Line-height: 35px;
    Line-height: 100%;
    color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#sec2>#prateleira {
    display: flex;
    justify-content: center;
}

#prateleira>.card {
    margin-left: 21px;
}

#prateleira>.card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 1px solid #f2f2f2;
}

#prateleira>.card:hover>.btn {
    opacity: 1;
    position: relative;
}


#prateleira>.card>a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

#prateleira>.card>a>h2 {
    Font-family: Roboto;
    Font-style: Light;
    Font-size: 20px;
    Line-height: 23px;
    Line-height: 100%;
    color: #363636;
    padding-top: 10px;
    padding-bottom: 20px;
}


#prateleira>.card>a>h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    padding-bottom: 15px;
    color: #000000;
}


#prateleira>.card>a>p {
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 19px;
    Line-height: 100%;
    color: #7B7B7B;
}

#prateleira>.card>.btn {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    height: 40px;
    margin-top: 20px;
    width: 100%;
    opacity: 0;
}

.espaco {
    margin-bottom: 250px;
}


/* //////////responsividade //////////// */

@media screen and (max-width:1820px) {

    /********** main ************/

    #menu_de_nav>nav {
        margin-left: 280px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    #sec1>#esquerda>img {
        position: relative;
    }

    /* direita - top */

    #sec1>#direita>#top>img {
        width: 100px;
    }

    #top>div>h3 {
        Font-size: 20px;
        Line-height: 35px;
        Line-height: 100%;
    }

    #top>div>#p1 {
        margin-top: 20px;
    }

    #top>div>#p2 {
        margin-top: 20px;
        Font-size: 20px;
        Line-height: 20px;
        Line-height: 100%;
    }

    #top>div>#p2>span {
        color: red;
        font-size: 15px;
        text-decoration: line-through;
    }

    #top>div>#p3 {
        margin-top: 5px;
        Font-size: 14px;
        Line-height: 12px;
        Line-height: 100%;
    }

    /* direita - mid */


    #sec1>#direita>#mid>img {
        width: 100px;
    }

    #mid>div>h3 {
        margin-top: 5px;
        margin-left: 20px;
        Font-size: 20px;
        Line-height: 16px;
        Line-height: 100%;
        color: rgba(0, 0, 0, 0.25);
    }

    #mid>div>#escolhaTamanho {
        display: flex;
        margin-left: 0px;
    }

    #mid>div>#escolhaTamanho>.tamanhos {
        Width: 30px;
        Height: 30px;
        margin-left: 20px;
        margin-top: 15px;
    }

    #mid>div>#escolhaTamanho>.tamanhos>p {
        margin-top: 8px;
        color: black;
    }

    #mid>div>p {
        margin-left: 20px;
        margin-top: 25px;
        Font-size: 15px;
        Line-height: 18px;
        Line-height: 100%;
    }

    #mid>div>p>input {
        margin-left: 50px;
    }

    /* direita - bot */

    #sec1>#direita>#bot>img {
        width: 100px;
    }

    #bot>div>.cores {
        margin-top: 25px;

    }

    #bot>div>div>#carrinho {
        margin-top: 50px;
        margin-left: 20px;
        color: white;
        background-color: black;
        Width: 300px;
        Height: 45px;
        margin-bottom: 43px;
        border: none;
        Font-family: Roboto;
        Font-style: Regular;
        Font-size: 25px;
        Line-height: 40px;
        Line-height: 100%;
        text-decoration: none;
    }

    #descricao {
        margin-top: 0px;
        margin-left: 0px;
        width: 430px;
    }

    #descricao>p {
        Font-family: Roboto;
        Font-style: Light;
        Font-size: 20px;
        Line-height: 19px;
        Line-height: 100%;
        color: #000000;
    }

    /* main - inferior - prateleira */

    #sec2>h3 {

        Font-size: 30px;
        Line-height: 35px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    #sec2>h3 {
        margin-top: 100px;
        margin-bottom: 40px;
    }

    #prateleira>.card>a>img {
        width: 250px;
    }

}

/* ///////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width:1620px) {

    #menu_de_nav>nav {
        display: none;
    }

}

/* ///////////////////////Break-Point///////////////////////////// */


@media screen and (max-width:1180px) {
    #sec1 {
        margin-top: 40px;
    }

    #sec1>#esquerda>img {
        width: 550px;
    }

    #mid>div>#escolhaTamanho>.tamanhos {
        Width: 25px;
        Height: 25px;
        margin-left: 15px;
        margin-top: 15px;
    }

    #bot>div>.cores>.cor {
        Width: 35px;
        Height: 35px;
    }


    #bot>div>.cores>p {
        display: none;
    }

    #bot>div>div>#carrinho {
        margin-top: 30px;
        margin-left: 20px;
        Width: 230px;
        Height: 40px;
        Font-size: 20px;
    }

    #descricao {
        margin-top: 0px;
        margin-left: 0px;
        width: 350px;
    }

    #descricao>p {
        Font-size: 15px;
    }

    /* main - inferior - prateleira */
    #sec2>h3 {

        Font-size: 30px;
        Line-height: 35px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    #sec2>h3 {
        margin-top: 100px;
        margin-bottom: 40px;
    }

    #prateleira>.card>a>img {
        width: 200px;
    }

    #prateleira>.card>a>p {
        font-size: 14px;
    }
}

/* ///////////////////////Break-Point///////////////////////////// */

@media screen and (max-width:950px) {



    #sec1>#esquerda>img {
        width: 500px;
    
    }

    #top>div>h3 {
        Font-size: 15px;
        Line-height: 35px;
        Line-height: 100%;
    }

    #mid>div>#escolhaTamanho>.tamanhos {
        Width: 25px;
        Height: 25px;
        margin-left: 15px;
        margin-top: 15px;
    }

    #mid>div>p>input {
        margin-left: 30px;
    }

    #bot>div>.cores>.cor {
        Width: 30px;
        Height: 30px;
        margin-top: 0px;
    }

    #bot>div>div>#carrinho {
        margin-top: 30px;
        margin-left: 10px;
        Width: 200px;
        Height: 40px;
        Font-size: 17px;
    }

    #descricao {
        width: 300px;
    }

    #descricao>p {
        Font-size: 13px;
    }

    #prateleira>.card>a>img {
        width: 200px;
    }

    #prateleira>.card>a>p {
        font-size: 14px;
    }

    #prateleira>.card>a>img {
        width: 190px;
    }

    .barracinza {
        display: none;
    }
}

/* ///////////////////////Break-Point///////////////////////////// */

@media screen and (max-width:900px) {
    #menu_de_nav>nav {
        display: none;
    }

    #sec1 {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    #sec1>#esquerda>img {
        width: 500px;
    }

    #sec1>#esquerda {
        display: flex;
        justify-content: center;
    }

    #sec1>#direita {
        margin-top: 30px;
    }

    #sec1>#direita>#top>img {
        width: 200px;
    }

    #sec1>#direita>#top>div>h3 {
        Font-size: 40px;
    }

    #top>div>#p1 {
        font-size: 20px;
        margin-top: 20px;
    }

    #top>div>#p2 {
        margin-top: 20px;
        Font-size: 30px;
        Line-height: 20px;
        Line-height: 100%;
    }

    #top>div>#p2>span {
        color: red;
        font-size: 25px;
        text-decoration: line-through;
    }

    #top>div>#p3 {
        margin-top: 5px;
        Font-size: 20px;
        Line-height: 12px;
        Line-height: 100%;
    }

    /* direita - mid */


    #sec1>#direita>#mid>img {
        width: 200px;
    }

    #mid>div>h3 {
        margin-top: 5px;
        margin-left: 30px;
        Font-size: 30px;
        Line-height: 16px;
        Line-height: 100%;
        color: rgba(0, 0, 0, 0.25);
    }

    #mid>div>#escolhaTamanho {
        display: flex;
        margin-left: 0px;
    }

    #mid>div>#escolhaTamanho>.tamanhos {
        Width: 50px;
        Height: 50px;
        margin-left: 30px;
        margin-top: 30px;
    }

    #mid>div>#escolhaTamanho>.tamanhos>p {
        margin-top: 15px;
        font-size: larger;
        color: black;
    }

    #mid>div>p {
        margin-left: 30px;
        margin-top: 60px;
        Font-size: 20px;
        Line-height: 18px;
        Line-height: 100%;
    }

    #mid>div>p>input {
        margin-left: 180px;
        width: 50px;
        height: 20px;
    }

    /* direita - bot */

    #sec1>#direita>#bot>img {
        width: 200px;
    }

    #bot>div>.cores {
        margin-top: 25px;
    }

    #bot>div>.cores>.cor {
        border-radius: 100%;
        Width: 60px;
        Height: 60px;
        margin-left: 25px;
    }

    #bot>div>div>#carrinho {
        margin-top: 120px;
        margin-left: 20px;
        color: white;
        background-color: black;
        Width: 400px;
        Height: 45px;
        margin-bottom: 43px;
        border: none;
        Font-family: Roboto;
        Font-style: Regular;
        Font-size: 25px;
        Line-height: 40px;
        Line-height: 100%;
        text-decoration: none;
    }

    #descricao {
        margin-top: 0px;
        margin-left: 0px;
        width: 650px;
    }

    #descricao>p {
        Font-family: Roboto;
        Font-style: Light;
        Font-size: 20px;
        Line-height: 19px;
        Line-height: 100%;
        color: #000000;
    }

    #prateleira>.card>a>img {
        width: 150px;
    }

    #prateleira>.card>a>p {
        font-size: 11px;
    }

}

/* /////////////////////BREAK-POINT//////////////// */

@media screen and (max-width:759px) {
    #sec1>#esquerda>img {
        width: 400px;
    }

    #sec1>#direita {
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;  
        margin-left: 100px;
            
    }

    #sec1>#direita>#top>img {
        width: 120px;
    }

    #sec1>#direita>#top>div>h3 {
        Font-size: 20px;
    }

    #top>div>#p1 {
        font-size: 15px;
        margin-top: 20px;
    }

    #top>div>#p2 {
        margin-top: 20px;
        Font-size: 20px;
        Line-height: 20px;
        Line-height: 100%;
    }

    #top>div>#p2>span {
        color: red;
        font-size: 15px;
        text-decoration: line-through;
    }

    #top>div>#p3 {
        margin-top: 5px;
        Font-size: 15px;
        Line-height: 12px;
        Line-height: 100%;
    }

    /* direita - mid */

    #sec1>#direita>#mid>img {
        width: 120px;
    }

    #mid>div>h3 {
        margin-top: 0px;
        margin-left: 30px;
        Font-size: 20px;
    }

    #mid>div>#escolhaTamanho {
        display: flex;
        margin-left: 0px;
    }

    #mid>div>#escolhaTamanho>.tamanhos {
        Width: 25px;
        Height: 25px;
        margin-left: 20px;
        margin-top: 25px;
    }

    #mid>div>#escolhaTamanho>.tamanhos>p {
        margin-top: 5px;
        font-size: medium;
        color: black;
    }

    #mid>div>p {
        margin-left: 30px;
        margin-top: 25px;
        Font-size: 15px;
        Line-height: 18px;
        Line-height: 100%;
    }

    #mid>div>p>input {
        margin-left: 52px;
        width: 45px;
        height: 20px;
    }

    /* direita - bot */

    #sec1>#direita>#bot {
        margin-top: -40px;
    }

    #sec1>#direita>#bot>img {
        margin-top: 0px;
        width: 120px;
    }

    #bot>div>.cores>.cor {
        border-radius: 100%;
        Width: 25px;
        Height: 25px;
        margin-left: 25px;
        position: relative;
        top: 55px
    }

    #bot>div>div>#carrinho {
        margin-left: 20px;
        color: white;
        background-color: black;
        Width: 230px;
        Height: 45px;
        Font-size: 17px;
        Line-height: 30px;
        Line-height: 100%;
        text-decoration: none;
        position: relative;
        bottom: 20px;
    }

    #descricao {
        margin-top: 0px;
        margin-left: 0px;
        width: 370px;
    }

    #descricao>p {
        Font-family: Roboto;
        Font-style: Light;
        Font-size: 17px;
        Line-height: 19px;
        Line-height: 100%;

        color: #000000;
    }

    #prateleira>.card>a>img {
        width: 120px;
    }

    #prateleira>.card>a>h2 {
        font-size: 16px;
    }

    #prateleira>.card>a>p {
        font-size: 11px;
    }

    #prateleira>.card>a>h3 {
        font-size: 17px;
    }

    #prateleira>.card>a>p {
        font-size: 8px;
    }

    .espaco {
        margin-bottom: 100px;
    }


}

/* ///////////BREAK-POINT/////////////// */

@media screen and (max-width:375px) {

    #sec1>#esquerda>img {
        width: 375px;
    }

    #sec1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #sec1>#direita {
        position: relative;
        left: -70px;
    }

    #sec1>#direita>#top>img {
        display: none;
    }

    #top>div>h3 {
        font-size: small;
    }

    #top>div>#p1 {
        font-size: 10px;
    }


    #direita>#mid>img {
        display: none;
    }

    #mid>div>h3 {
        display: none;
    }

    #sec1>#direita>#bot>img {
        display: none;
    }




    #descricao {
        position: relative;
        left: -20px;
        margin-top: 0px;
        width: 320px;
    }

    #descricao>h4 {
        font-size: 20px;
    }

    #descricao>p {
        font-size: 14px;
    }

}