/* 1. Header
/************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

ul li.active a {
    font-weight: 500;
}

.topbar {
    padding: 3px 0px;
}

.topbar__list {
    justify-content: space-between;

}

.topbar__item,
.topbar__item>a {
    color: #fff;
    font-size: 14px;
}

.menu__logo {
    padding-right: 94px;
}

.menu__container {
    height: 94px;
}

.search {
    display: flex;
    align-items: center;
}

.las {
    font-size: 24px;
}

.btn__button {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.nav__list {
    gap: 49px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 19px;
    padding-right: 23px;
}

.nav__link:hover {
    font-weight: 500;
}

.menu__supportNav {
    gap: 6px;
}

a,
ol,
ul {
    text-decoration: none;
    list-style: none;
    color: #000;
}

html {
    font-family: 'Roboto', sans-serif;
}


.max-width-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.img-main {
    width: 100%;
}

.img__shelf {
    width: 232px;
    height: 232px;
    display: flex;
    padding: 4px 4px;
}

.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    padding: 15px 0px 5px;
    justify-content: center;
}


.title__dep {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 45px 0px 85px 0px;
}

.bold {
    font-weight: 700;
}

.filters__title {
    font-size: 14px;
    display: block;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 34px;
}


.shelf__installments {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #7B7B7B;
}

.line {
    margin-top: 18px;
    border-bottom: 1px solid #888888;
}

.bg-grey {
    background-color: #323232;
}

.bg-news {
    background-color: #878787;
}

.bg-black {
    background-color: #000;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* FINAL HEADER */

/*FOOTER*/

.news__container {
    height: 80px;
    color: #fff;
    justify-content: space-between;
}

.newsletter>.news__container>.news_text>h2 {
    line-height: 29px;
    Font-size: 20px;
    font-weight: 700;
    padding: 0px;
}

.news_input {
    width: 200px;
    height: 27px;
}

.news_btn {
    width: 158px;
    height: 32px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
}

.container_institutional {
    padding: 40px 0px;
    justify-content: center;
    gap: 278px;
    color: #fff;
}

.item_contact {
    color: #fff;
    line-height: 29px;
}

.lab {
    color: #fff;
    font-size: 30px;
}

.social_networks {
    padding-top: 20px;
    gap: 44px;
}

/* FINAL FOOTER */


@media (max-width: 576px) {

    .menu__nav,
    .topbar,
    .filters,
    .order,
    .search__input,
    .banner_principal,
    .shelf__btn,
    .la-user,
    .la-search,
    .shelf__product:hover {
        display: none;
    }

    .menu {
        margin: 0px 14px;
    }

    .la-shopping-bag {
        font-size: 30px;
    }

    .one,
    .two,
    .three {
        background-color: #000;
        height: 2px;
        width: 100%;
        margin: 9px auto;
    }

    .menu__toggle {
        width: 40px;
        height: 30px;
    }

    .menu__logo {
        order: 2;
        padding-right: 0px;
    }

    .menu__supportNav {
        order: 3;
    }

    .menu__container {
        justify-content: space-between;
    }

    .title__dep {
        font-size: 20px;
        padding: 28px 0px 25px 0px;
    }

    .shelf__container {
        display: flex;
        flex-wrap: wrap;
        gap: 17px;
        row-gap: 1px;
        margin: 0px 14px;
        justify-content: center;
        padding-top: 15px;
    }

    /* Filtro do menu mobile */
    .filters__mobile {
        display: block;
        background: #F3F3F3;
    }

    .filters__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 51px;
        gap: 54px;
    }


    /* FOOTER */

    .news__container {
        flex-direction: column;
        padding: 43px 0px;
    }

    .newsletter>.news__container>.news_text>h2 {
        display: flex;
        justify-content: center;

    }

    .news_text>p {
        text-align: center;
    }

    .news_form {
        padding-top: 10px;
    }

    .container_institutional {
        flex-direction: column;
        gap: 25px;
    }

    .infos_institutional {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social_networks {
        justify-content: center;
    }
}