<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/department.css">
    <link rel="stylesheet" href="/stylesheets/account.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account - Outsider</title>
</head>

<body>
    <header>
        <section id="profile" class="max-width-content">
            <div class="profile__container">
                <a href="index.html"><img width="200" src="/images/account/outsider 2.svg" alt="Outsider Logo"></a>
            </div> <!-- .profile__container -->
        </section> <!-- . profile -->
    </header> <!-- .header -->

    <main class="max-width-content">
        <section id="account">
            <aside class="account__menu">
                <div class="account__user-info">
                    <div class="account__user-img">
                        <img width="55" src="/images/account/user.svg" alt="Ícone de user">
                    </div> <!-- .account__user-img -->
                    <div class="account__user-greeting">
                        <span>Olá!</span>
                    </div> <!-- .account__user-greeting -->
                </div> <!-- .account__user-info -->
                <nav class="account__link">
                    <a href="" class="item-c">Dados pessoais</a>
                    <a href="" class="account__itens">Cartões</a>
                    <a href="" class="account__itens">Endereços</a>
                    <a href="/account_request" class="account__itens">Pedidos</a>
                    <a href="" class="account__itens">Sair</a>
                </nav> <!-- . account__link -->
            </aside> <!-- .account__menu -->

            <section class="account__page">
                <h2>Dados Pessoais</h2>
                <section class="account__form">
                    <div class="profile__form d-flex">
                        <div>
                            <label class="acc__on-base">Nome</label>
                            <div class="acc__on-disabled">Fulano</div>
                        </div>
                        <div>
                            <label class="acc__on-base">Sobrenome</label>
                            <div class="acc__on-disabled">De tal</div>
                        </div>
                    </div> <!-- .profile__form -->
                    <div class="profile__form-email d-flex">
                        <div>
                            <label class="acc__on-base">Email</label>
                            <div class="acc__on-disabled">exampleoutsider@example.com.br</div>
                        </div>
                        <div>
                            <label class="acc__on-base">CPF</label>
                            <div class="acc__on-disabled">000.000.000-00</div>
                        </div>
                    </div> <!-- .profile__form-email -->
                    <div class="profile__form-date d-flex">
                        <div>
                            <label class="acc__on-base">Data de Nascimento</label>
                            <div class="acc__on-disabled">00/00/0000</div>
                        </div>
                        <div>
                            <label class="acc__on-base">Telefone</label>
                            <div class="acc__on-disabled">(11) 00000-0000</div>
                        </div>
                    </div> <!-- .profile__form-date -->
                    <a href="/account_edit" class="acc_edit">Editar</a>
                </section> <!-- .account__form -->
            </section> <!-- .account__page -->
        </section> <!-- .account -->
    </main> <!-- .main -->
    <%- include("./partials/footer") %>
</body>

</html>