<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css">
    <link rel="stylesheet" href="../../styles/theme.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsividade.css">
</head>
<body>
    
    <main>
        <section>
            <div><h1>Registrar</h1></div>    

            <form action="" method="post"></form>
            
                <p id="p1">Preencha as informações abaixo:</p>
                
                <div>
                    <input class="campo" type="text" placeholder="Nome" id="nome" required>
                </div>

                <div>
                    <input class="campo" type="text" placeholder="Sobrenome" id="sobrenome" required>
                </div>

                <div>
                    <input class="campo" type="email" placeholder="email" id="email" required>
                </div>

                <div>
                    <input class="campo" type="email" placeholder="confirmar email" id="email2" required>
                </div>

                <div>
                    <input class="campo" type="password" placeholder="senha" id="password" required>
                </div>
                
                <div>
                    <input class="campo" type="password" placeholder="confirmar senha" id="password2" required>
                </div>

                <div>
                    <button id="entrar">CADASTRAR</button>
                </div>

            </form>

        </section>
    </main>
    
</body>
</html>