<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="../../styles/theme.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsividade.css">
</head>
<body>
    <header>
        <div class="topbar bg-grey">
            <div class="topbar__container max-width-content">
                <ul class="topbar__list flex">
                    <li class="topbar__item">10x sem juros no cartão</li>
                    <li class="topbar__item">Troca grátis em até 30 dias</li>
                    <li class="topbar__item"><a href="#">+1000 lojas</a></li>
                    <!-- direcionar para a página nossas lojas -->
                    <li class="topbar__item"><a href="#">Frete grátis em compras acima de R$249</a></li>
                    <!-- direcionar para a página nossos fretes -->
                </ul> <!-- .topbar__list -->
            </div> <!-- .topbar__container -->
        </div> <!-- .topbar -->

        <div class="menu">
            <div class="menu__container max-width-content flex">
                <div class="menu__logo">
                    <a href="../home/home.html"><img width="192" height="50" src="../../pages/user-profile/img/outsider 2.svg"
                            alt="Logo Outsider"></a>
                </div> <!-- .menu__logo -->
                <div class="menu__mobile">
                    <div class="menu__toggle">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </div> <!-- .menu__toggle -->
                </div> <!-- .menu__mobile -->
                <nav class="menu__nav">
                    <ul class="nav__list flex">
                        <li class="nav__link"><a href="">Homem</a></li>
                        <li class="nav__link"><a href="">Mulher</a></li>
                        <li class="nav__link"><a href="">Acessórios</a></li>
                        <li class="nav__link"><a href="">Promos</a></li>
                        <li class="nav__link"><a href="">New In</a></li>
                        <li class="nav__link"><a href="">Coming Soon</a></li>
                    </ul>
                </nav> <!-- .menu__nav -->

                <div class="menu__supportNav flex">
                    <div class="search">
                        <input class="search__input" type="text" placeholder="O que você precisa?">
                        <button><img src="../department/img/search.svg" alt="Ícone search"></button>
                    </div> <!-- .search -->
                    <div class="user">
                        <a href="#">
                            <img src="./img/account.svg" alt="ícone Account">
                        </a>
                    </div> <!-- .user -->
                    <div class="cart">
                        <a href="#">
                            <img src="./img/car.svg" alt="ícone do carrinho">
                        </a>
                    </div> <!-- .cart -->
                </div> <!-- .menu__supportNav -->
            </div> <!-- .menu__container -->
        </div> <!-- .menu -->

    </header>
    <main>
        <section>
            <div><h1>Registrar</h1></div>    

            <form action="" method="post"></form>
            
                <p id="p1">Preencha as informações abaixo:</p>
                
                <div>
                    <input class="campo" type="text" placeholder="Nome" id="nome" required>
                </div>

                <div>
                    <input class="campo" type="text" placeholder="Sobrenome" id="sobrenome" required>
                </div>

                <div>
                    <input class="campo" type="email" placeholder="email" id="email" required>
                </div>

                <div>
                    <input class="campo" type="email" placeholder="confirmar email" id="email2" required>
                </div>

                <div>
                    <input class="campo" type="password" placeholder="senha" id="password" required>
                </div>
                
                <div>
                    <input class="campo" type="password" placeholder="confirmar senha" id="password2" required>
                </div>

                <div>
                    <button id="entrar">CADASTRAR</button>
                </div>

            </form>

        </section>
    </main>
    <footer>
        <div class="barracinza">
            <div>
                <h2>Faça seu Cadastro</h2>
                <p>Inscreva-se em nossa newsletter e receba 10% de desconto</p>
            </div>
            <div>
                <input type="text" placeholder="Digite se e-mail">
                <button>ENTRAR</button>
            </div>            
        </div>

        <div class="telapreta">

            <div class="superior">   
            
                <div id="esquerda">
                    <img id="tamanhoimagem" src="/images/mapa-footer.svg" alt=""></div>

                <div class="direita">
                    <p class="paragrafos">Broad St, Newark, NJ 07102 - USA</p>
                    <p class="paragrafos">+1 (973) 854-555-548</p>
                    <p class="paragrafos">contact@lovtrealstate.com</p>
                    <p class="paragrafos">Sigam-nos nas redes sociais</p>

                    
                    <div id="iconesinferior">
                        <div><img src="../../assets/icons/facebook.svg" alt=""></div>
                        <div><img src="../../assets/icons/instagram.svg" alt=""></div>
                        <div><img src="../../assets/icons/youtube.svg" alt=""></div>
                    </div>
                </div>
            
            </div>

        </div>
    </footer>
    
</body>
</html>