<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/reset">
    <link rel="stylesheet" href="/stylesheets/carrinho">
</head>
<body>

    <%- include("./partials/header") %>

    <section id="sec1">
        <div class="tituloEsq">
            <h2>DESCRIÇÃO</h2>
        </div>
        <div class="tituloDir">
            <ul>
                <li>QNTD</li>
                <li>VALOR</li>
                <li>SUBTOTAL</li>
                <li>EXCLUIR</li>
            </ul>
        </div>
    </section>
    <section id="sec2">
        <div class="desc">
            <div class="imgDesc">
                <img src="/images/carrinho/carrinha-Img1 - Camiseta Preta.png" alt="">
            </div>
            <div class="descProd">
                <p>CAMISETA BÁSICA</p>
                <p>COR: PRETO</p>
                <p>TAMANHO: pp</p>
                <p>EM ESTOQUE</p>
            </div>
        </div>
        <div class="valores">
                <p>1 un</p>
                <p>R$129,90</p>
                <p>R$129,90</p>    
                <div><button class="trash"><i class="las la-trash"></i></button></div>          
            </div>
        </div>
    </section>
    <section id="sec3">
        <div class="desc">
            <div class="imgDesc">
                <img src="/images/carrinho/carrinha-Img1 - Camiseta Preta.png" alt="">
            </div>
            <div class="descProd">
                <p>CAMISETA BÁSICA</p>
                <p>COR: PRETO</p>
                <p>TAMANHO: pp</p>
                <p>EM ESTOQUE</p>
            </div>
        </div>
        <div class="valores">
                <p>1 un</p>
                <p>R$129,90</p>
                <p>R$129,90</p>    
                <div><button class="trash"><i class="las la-trash"></i></button></div>          
            </div>
        </div>
    </section>
    <section id="sec4">
        <div class="escProd">
            <div class="botaoEscolher">
                <button id="btn_escolher">ESCOLHER MAIS PRODUTOS</button>
            </div>
        </div>
         <div class="finalPedido">
            <div class="totalPedido">
                <p class="totalPedidoValor">TOTAL DO PEDIDO</p>
                <p>R$ 259,80</p>
            </div>
            <div class="cupom">
                <p class="cupomName">CUPOM</p>
                <input class="insiraCupom" type="text" placeholder="Insira o Cupom" aria-label="Pesquisar">
            </div>
            <div class="fecharPedido">
                <div class="subtotal">
                    <p class="subTotalValor">SUBTOTAL</p>
                    <p>R$ 259,80</p>
                </div>
                <button id="finalizarCompra">FECHAR PEDIDO<i class="las la-shopping-cart"></i></button>
            </div>
        </div>
    </section>


    <%- include("./partials/footer") %>

</body>
</html>