<!DOCTYPE html>
<html lang="bt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>

  <%- include("./partials/header") %>

    <section class="sec1">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/home/img1-carrousel.svg" class="d-block w-100" alt="img1-carrousel">
                <img src="" alt="">
              </div>
              <div class="carousel-item">
                <img src="/images/home/img1-carrousel.svg" class="d-block w-100" alt="img1-carrousel">
              </div>
              <div class="carousel-item">
                <img src="/images/home/img1-carrousel.svg" class="d-block w-100" alt="img1-carrousel">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>
    <section id="sec2" class="disp-flex justify-space-between">
        <div id= "sec2-esq">
            <img src="/images/home/img1 - camiseta verde.png" alt="">
        </div>
        <div id= "sec2-dir">
          <div class="lancamentos">
            <p>LANÇAMENTOS MASCULINOS</p>
          </div>
            <div> 
                <div id="card-master">
                  <div class="card1" >
                    <a href="/produtos" class="shelf_body">
                    <img src="/images/home/img2 - Camiseta Preta.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="title">Tech T-Shirt</p>
                      <p class="preço">R$ 320</p>
                      <p class="shelf__p">10x R$ 32,00 sem juros</p>
                    </div>
                    </a>
                    <a href="/produtos" class="shelf__btn">Comprar</a>
                  </div>
                  <div  class="card1" >
                    <a href="/produtos" class="shelf_body">
                    <img src="/images/home/img2 - Camiseta Preta.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="title">Tech T-Shirt</p>
                      <p class="preço">R$ 320</p>
                      <p class="shelf__p">10x R$ 32,00 sem juros</p>
                    </div>
                    </a>
                    <a href="/produtos" class="shelf__btn">Comprar</a>
                  </div>
            </div>
        </div>
    </section>
    <section class="sec3">
        <div>
            <img src="/images/home/img3 - banner.png" alt="">
        </div>
    </section>
    <section class="sec4">
      <div class="">
        <div class="titlePrincipaisHome">
          <h2>DIA A DIA</h2>
        </div>
        <div id="cardsImag" class="disp-flex justify-space-between">
          <div class="card1" >
            <a href="/produtos" class="shelf_body">
            <img src="/images/home/img4 - Mulher Blusa Clara.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="title">Tech T-Shirt</p>
              <p class="preço">R$ 320</p>
              <p class="shelf__p">10x R$ 32,00 sem juros</p>
            </div>
            </a>
            <a href="/produtos" class="shelf__btn">Comprar</a>
          </div>
          <div  class="card1" >
            <a href="/produtos" class="shelf_body">
            <img src="/images/home/img4 - Mulher Blusa Clara.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="title">Tech T-Shirt</p>
              <p class="preço">R$ 320</p>
              <p class="shelf__p">10x R$ 32,00 sem juros</p>
            </div>
            </a>
            <a href="/produtos" class="shelf__btn">Comprar</a>
          </div>
          <div  class="card1" >
            <a href="/produtos" class="shelf_body">
            <img src="/images/home/img4 - Mulher Blusa Clara.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="title">Tech T-Shirt</p>
              <p class="preço">R$ 320</p>
              <p class="shelf__p">10x R$ 32,00 sem juros</p>
            </div>
            </a>
            <a href="/produtos" class="shelf__btn">Comprar</a>
          </div>
          <div  class="card1" >
            <a href="/produtos" class="shelf_body">
            <img src="/images/home/img4 - Mulher Blusa Clara.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="title">Tech T-Shirt</p>
              <p class="preço">R$ 320</p>
              <p class="shelf__p">10x R$ 32,00 sem juros</p>
            </div>
            </a>
            <a href="/produtos" class="shelf__btn">Comprar</a>
          </div>
        </a>
        </div>
      </div>
    </div>
    </section>
    <section class="sec5">
      <div>
        <img src="/images/home/img3 - banner.png" alt="">
    </div>
    </section>
    <section class="sec6">
      <div class="">
        <div class="titlePrincipaisHome">
          <h2>ESPORTE</h2>
        </div>
        <div id="cardsImag" class="disp-flex justify-space-between">
          <div  class="card1" >
            <a href="/produtos" class="shelf_body">
            <img src="/images/home/img5 - Mulher Roupa Esporte.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="title">Tech T-Shirt</p>
              <p class="preço">R$ 320</p>
              <p class="shelf__p">10x R$ 32,00 sem juros</p>
            </div>
            </a>
            <a href="/produtos" class="shelf__btn">Comprar</a>
          </div>
          <div  class="card1" >
            <a href="/produtos" class="shelf_body">
            <img src="/images/home/img5 - Mulher Roupa Esporte.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="title">Tech T-Shirt</p>
              <p class="preço">R$ 320</p>
              <p class="shelf__p">10x R$ 32,00 sem juros</p>
            </div>
            </a>
            <a href="/produtos" class="shelf__btn">Comprar</a>
          </div>
          <div  class="card1" >
            <a href="/produtos" class="shelf_body">
            <img src="/images/home/img5 - Mulher Roupa Esporte.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="title">Tech T-Shirt</p>
              <p class="preço">R$ 320</p>
              <p class="shelf__p">10x R$ 32,00 sem juros</p>
            </div>
            </a>
            <a href="/produtos" class="shelf__btn">Comprar</a>
          </div>
          <div  class="card1" >
            <a href="/produtos" class="shelf_body">
            <img src="/images/home/img5 - Mulher Roupa Esporte.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="title">Tech T-Shirt</p>
              <p class="preço">R$ 320</p>
              <p class="shelf__p">10x R$ 32,00 sem juros</p>
            </div>
            </a>
            <a href="/produtos" class="shelf__btn">Comprar</a>
          </div>
        </div>
      </div>
    </div>
    </section>
    <section class="sec7">
      </div id="sec7" class="position-absolute top-50 start-50 translate-middle">
        <img src="/images/home/img6 - Banner T-shirt.png" alt="">
      </div>
    </section>
    <section>
      <div>
        <div class="">
          <div class="titlePrincipaisHome">
            <h2>siga a @OUTSIDER</h2>
          </div>
          <section id="sec8"  class="disp-flex justify-space-between">
            <div class= "cardSec8">
                <img src="/images/home/img7 - Mulher camiseta preta.png" alt="">
            </div>
            <div class="cardSec8">
              <img src="/images/home/img8 - Homem camiseta branca.png" alt="">
          </div>
          <div class="cardSec8">
            <img src="/images/home/img9 - Mulher camiseta verde.png" alt="">
        </div>
        <div class="cardSec8">
          <img src="/images/home/img10 - Homem camiseta verde.png" alt="">
      </div>
          </div>
        </div>
      </div>
      </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
      
    <%- include("./partials/footer") %>

  </body>

