<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/information.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outsider - Selecione o endereço</title>
</head>

<body>
    <main>
        <section>
            <div class="grid_container bg-left-side">
                <div class="content_section">
                    <div class="main_logo">
                        <a href="#">
                            <img src="/images/main-logo.png" alt="Outsider logo">
                        </a>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="icon-chart">
                                        <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg"
                                            class="order-summary-toggle__icon">
                                            <path
                                                d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z">
                                            </path>
                                        </svg>
                                    </div>
                                    Exibir resumo de compra
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="chart">
                                        <div class="img-superior">
                                            <div>
                                                <span id="elipse">1</span>
                                            </div>
                                            <img src="/images/information/Screen Shot 2019-09-05 at 3.51.png" alt="">
                                            <div class="item-description">
                                                <p id="description">TECH T-SHIRT</p>
                                                <p id="information">Preta / P</p>
                                            </div>
                                            <div class="item-price">
                                                <p>R$ 129,00</p>
                                            </div>
                                        </div>
                                        <div class="division">
                                            <!-- Here goes the division page -->
                                        </div>
                                        <div>
                                            <div class="frete">
                                                <span id="subtotal">Subtotal</span>
                                                <span id="subtotal-price">R$ 129,00</span>
                                            </div>
                                            <div class="frete-price">
                                                <span id="frete">Frete</span>
                                                <span id="calc">Calculado na proxima etapa</span>
                                            </div>
                                            <div class="division">
                                                <!-- Here goes the division page -->
                                            </div>
                                            <div class="total-calc">
                                                <span id="total">TOTAL</span>
                                                <span id="total-price">R$ 129,00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="division-1"></div>
                    <div class="info_payment">
                        <ul>
                            <li class="information-li">Informações</li>
                            <div class="arrow-info">
                            </div><!-- arrow-back -->
                            <li>Frete</li>
                            <div class="arrow-info">
                            </div><!-- arrow-back -->
                            <li>Pagamento</li>
                        </ul>
                    </div>
                    <div class="deliver-address">
                        <h2>Endereço de entrega</h2>
                    </div>
                    <form class="form" method="post" action="/information">
                        <div class="contact__address">
                            <div class="cep">
                                <input name="cep" class="deliver-input" id="cep" type="text" placeholder="CEP" required>
                                <input name="cidade" class="deliver-input" id="city" type="text" placeholder="Cidade" required>
                            </div>
                            <div class="street">
                                <input name="rua" class="deliver-input" id="street" type="text" placeholder="Rua" required>
                                <input name="numero" class="deliver-input" id="number" type="text" placeholder="Número" required>
                            </div>
                            <div class="district">
                                <input name="bairro" class="deliver-input" id="neighborhood" type="text" placeholder="Bairro" required>
                                <input name="complemento" class="deliver-input" id="complement" type="text" placeholder="Complemento">
                            </div>
                        </div>
                        <div class="form-floating">
                            <select name="estado" class="form-select" id="floatingSelect" aria-label="Floating label select example" required>
                                <option id="state-selector" selected>Selecione seu Estado</option>
                                <option value="Acre - AC">Acre - AC</option>
                                <option value="Alagoas - AL">Alagoas - AL</option>
                                <option value="Amapá - AP">Amapá - AP</option>
                                <option value="Amazonas - AM">Amazonas - AM</option>
                                <option value="Bahia - BA">Bahia - BA</option>
                                <option value="Ceará - CE">Ceará - CE</option>
                                <option value="Distrito Federal - DF">Distrito Federal - DF</option>
                                <option value="Espírito Santo - ES">Espírito Santo - ES</option>
                                <option value="Goiás - GO">Goiás - GO</option>
                                <option value="Maranhão - MA">Maranhão - MA</option>
                                <option value="Mato Grosso - MT">Mato Grosso - MT</option>
                                <option value="Mato Grosso do Sul - MS">Mato Grosso do Sul - MS</option>
                                <option value="Minas Gerais - MG">Minas Gerais - MG</option>
                                <option value="Pará - PA">Pará - PA</option>
                                <option value="Paraíba - PB">Paraíba - PB</option>
                                <option value="Paraná - PR">Paraná - PR</option>
                                <option value="Pernambuco - PE">Pernambuco - PE</option>
                                <option value="Piauí - PI">Piauí - PI</option>
                                <option value="Rio de Janeiro - RJ">Rio de Janeiro - RJ</option>
                                <option value="Rio Grande do Norte - RN">Rio Grande do Norte - RN</option>
                                <option value="Rio Grande do Sul - RS">Rio Grande do Sul - RS</option>
                                <option value="Rondônia - RO">Rondônia - RO</option>
                                <option value="Roraima - RR">Roraima - RR</option>
                                <option value="Santa Catarina - SC">Santa Catarina - SC</option>
                                <option value="São Paulo - SP">São Paulo - SP</option>
                                <option value="Sergipe - SE">Sergipe - SE</option>
                                <option value="Tocantins - TO">Tocantins - TO</option>
                            </select>
                            <label id="state-form-floating" for="floatingSelect">Estado</label>
                        </div>
                        <div class="checkbox-item">
                            <label class="container">Salvar minhas informações para a próxima vez
                                <input type="checkbox">
                                <span class="checkmark"></span>
                        </div>
                        <!-- SECTION TO CONTINUE OR GO BACK -->
                        <div class="go-back-section">
                            <div class="arrow-back">
                            </div>
                            <div class="go-back">
                                <a href="carrinho">
                                    <p>Voltar ao Carrinho</p>
                                </a>
                            </div>
                            <!-- CONTINUE BUTTON -->
                            <div class="btn-shipping">
                                <a href="frete">
                                    <button type="submit" class="btn-continue">Continuar com o frete</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div class="grid_container bg-right-side">
                <div class="chart">
                    <div class="img-superior">
                        <div>
                            <span id="elipse">1</span>
                        </div>
                        <img src="/images/information/Screen Shot 2019-09-05 at 3.51.png" alt="">
                        <div class="item-description">
                            <p id="description">TECH T-SHIRT</p>
                            <p id="information">Preta / P</p>
                        </div>
                        <div class="item-price">
                            <p>R$ 129,00</p>
                        </div>
                    </div>
                    <div class="division">
                        <!-- Here goes the division page -->
                    </div>                 
                    <div>
                        <div class="frete">
                            <span id="subtotal">Subtotal</span>
                            <span id="subtotal-price">R$ 129,00</span>
                        </div>
                        <div class="frete-price">
                            <span id="frete">Frete</span>
                            <span id="calc">Calculado na proxima etapa</span>
                        </div>
                        <div class="division">
                            <!-- Here goes the division page -->
                        </div>
                        <div class="total-calc">
                            <span id="total">TOTAL</span>
                            <span id="total-price">R$ 129,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- BOOTSTRAP SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <!-- BOOTSTRAP SCRIPT -->
</body>

</html>