<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>

<body>

    <%- include("./partials/header") %>

    <main>
        <section>

            <h1 id="h1">Login</h1>

            <p id="p1">Digite seu e-mail e senha</p>

            <form action="/login" method="post">

                <div>
                    <input class="campo" name="email" type="email" placeholder="E-mail" id="email" required>
                </div>

                <div>
                    <input class="campo" name="password" type="password" placeholder="Senha" id="senha" required>
                </div>

                <% if(error) {%>
                    <h2 class="error-login">
                        <%= error %>
                    </h2>
                    <% } %>
                        <div>
                            <button class="entrar" style="font-size: 1.5em; font-weight:500;">ENTRAR</button>
                        </div>
            </form>

            <p id="p2">Esqueceu sua senha? <span> <a class="link" href="">Clique Aqui</a></span></p>
            <p id="p3">Ainda não tem uma conta? <span> <a class="link" href="/cadastro">Crie uma</a></span></p>
        </section>
    </main>

    <%- include("./partials/footer") %>

</body>

</html>