<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/stylesheets/reset">
    <link rel="stylesheet" href="login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
</head>
<body>      

    <main>
        <section>
            
            <h1>Entrar</h1>    
            
            <p id="p1">Digite seu e-mail e senha</p>
            
            <div>
                <input class="campo" type="email" placeholder="email" id="email">
            </div>

            <div>
                <input class="campo" type="password" placeholder="senha" id="senha">
            </div>
            
            <div>
                <button class="entrar">ENTRAR</button>
            </div>
            <p id="p2">Esqueceu sua senha? <span> <a class="link" href="">Clique Aqui</a></span></p>
            <p id="p3">Ainda não tem uma conta? <span> <a class="link" href="../cadastro/cadastro.html">Crie uma</a></span></p>
        </section>
    </main>
    
</body>
</html>