<footer>
    <div class="newsletter bg-news">
        <div class="news__container max-width-content flex">
            <div class="news_text">
                <h2>Faça seu cadastro</h2>
                <p>Inscreva-se em nossa newsletter e receba 10% de desconto.</p>
            </div> <!-- .news_text -->
            <div class="news_form">
                <input class="news_input" type="text" name="news" id="news" placeholder="Digite seu email">
                <button class="news_btn" type="submit">Cadastrar</button>
            </div> <!-- .news_form -->
        </div> <!-- .news__container -->
    </div> <!-- .newsletter -->

    <div class="footer_institutional bg-black">
        <div class="container_institutional max-width-content flex">
            <div class="img_institutional">
                <a href="#"><img src="../../assets/imagens/mapa-footer.svg" alt="Mapa da empresa"></a>
            </div> <!-- .img_institutional -->
            <div class="infos_institutional">
                <address class="item_contact">Broad St, Newark, NJ 07102 - USA</address>
                <ul class="contact_institutional">
                    <li>
                        <a class="item_contact" href="#">+1 (973) 854-555-548</a>
                    </li>
                    <li>
                        <a class="item_contact" href="#">contact@lovtrealstate.com</a>
                    </li>
                    <li class="item_contact">Sigam-nos nas redes sociais</li>
                    <div class="social_networks flex">
                        <li>
                            <a href="#"><img src="../../assets/icons/facebook.svg" alt="Facebook"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/icons/instagram.svg" alt="Instagram"></a>
                        </li>
                        <li>
                            <a href="#"><img src="../../assets/icons/youtube.svg" alt="Youtube"></a>
                        </li>
                    </div> <!-- . social_networks-->
                </ul> <!-- .contact_institutional -->
            </div> <!-- .infos_institutional -->
        </div> <!-- .container_institutional -->
    </div> <!-- .footer_institutional -->
</footer> <!-- .footer -->