<header>
    <div class="topbar bg-grey">
        <div class="topbar__container max-width-content">
            <ul class="topbar__list flex">
                <li class="topbar__item">10x sem juros no cartão</li>
                <li class="topbar__item">Troca grátis em até 30 dias</li>
                <li class="topbar__item"><a href="#">+1000 lojas</a></li>
                <!-- direcionar para a página nossas lojas -->
                <li class="topbar__item"><a href="#">Frete grátis em compras acima de R$249</a></li>
                <!-- direcionar para a página nossos fretes -->
            </ul> <!-- .topbar__list -->
        </div> <!-- .topbar__container -->
    </div> <!-- .topbar -->

    <div class="menu">
        <div class="menu__container max-width-content flex">
            <div class="menu__logo">
                <a href="#"><img width="192" height="50" src="/images/main-logo.png" alt="Logo Outsider"></a>
            </div> <!-- .menu__logo -->
            <div class="menu__mobile">
                <div class="menu__toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div> <!-- .menu__toggle -->
            </div> <!-- .menu__mobile -->
            <nav class="menu__nav">
                <ul class="nav__list flex">
                    <li class="nav__link"><a href="">Homem</a></li>
                    <li class="nav__link"><a href="">Mulher</a></li>
                    <li class="nav__link"><a href="">Acessórios</a></li>
                    <li class="nav__link"><a href="">Promos</a></li>
                    <li class="nav__link"><a href="">New In</a></li>
                    <li class="nav__link"><a href="">Coming Soon</a></li>
                </ul>
            </nav> <!-- .menu__nav -->

            <div class="menu__supportNav flex">
                <div class="search">
                    <input class="search__input" type="search" placeholder="O que você precisa?">
                    <button class="btn__button"><img src="../department/img/search.svg" alt="Ícone search"></button>
                </div> <!-- .search -->
                <div class="user">
                    <a href="#">
                        <img src="./img/account.svg" alt="ícone Account">
                    </a>
                </div> <!-- .user -->
                <div class="cart">
                    <a href="#">
                        <img src="./img/car.svg" alt="ícone do carrinho">
                    </a>
                </div> <!-- .cart -->
            </div> <!-- .menu__supportNav -->
        </div> <!-- .menu__container -->
    </div> <!-- .menu -->

</header>