<header>
    <div class="topbar bg-grey">
        <div class="topbar__container max-width-content">
            <ul class="topbar__list flex">
                <li class="topbar__item">10x sem juros no cartão</li>
                <li class="topbar__item">Troca grátis em até 30 dias</li>
                <li class="topbar__item"><a href="#">+1000 lojas</a></li>
                <!-- direcionar para a página nossas lojas -->
                <li class="topbar__item"><a href="#">Frete grátis em compras acima de R$249</a></li>
                <!-- direcionar para a página nossos fretes -->
            </ul> <!-- .topbar__list -->
        </div> <!-- .topbar__container -->
    </div> <!-- .topbar -->

    <div class="menu">
        <div class="menu__container max-width-content flex">
            <div class="menu__logo">
                <a href="/"><img width="192" height="50" src="/images/main-logo.png" alt="Logo Outsider"></a>
            </div> <!-- .menu__logo -->
            <div class="menu__mobile">
                <div class="menu__toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div> <!-- .menu__toggle -->
            </div> <!-- .menu__mobile -->
            <nav class="menu__nav">
                <ul class="nav__list flex">
                    <li class="nav__link <% if(menu.homem){%>active<%}%>"><a href="homem">Homem</a></li>
                    <li class="nav__link <% if(menu.mulher){%>active<%}%>"><a href="mulher">Mulher</a></li>
                    <li class="nav__link"><a href="acessorios">Acessórios</a></li>
                    <li class="nav__link"><a href="promos">Promos</a></li>
                    <li class="nav__link"><a href="new">New In</a></li>
                    <li class="nav__link"><a href="coming">Coming Soon</a></li>
                </ul>
            </nav> <!-- .menu__nav -->

            <div class="menu__supportNav flex">
                <div class="search">
                    <input class="search__input" type="search" placeholder="O que você precisa?">
                    <button class="btn__button"><i class="las la-search"></i></button>
                </div> <!-- .search -->
                <div class="user">
                    <a href="login">
                        <i class="las la-user"></i>
                    </a>
                </div> <!-- .user -->
                <div class="cart">
                    <a href="carrinho">
                        <i class="las la-shopping-bag"></i>
                    </a>
                </div> <!-- .cart -->
            </div> <!-- .menu__supportNav -->
        </div> <!-- .menu__container -->
    </div> <!-- .menu -->

</header>