<div class="thought-form-container">
    <a href="/thoughts/dashboard">Back</a>
    <h1>Creating a Thought:</h1>
    <form action="/thoughts/add" method="post">
        <div class="form-control">
            <label for="title">Thought:</label>
            <input type="text" name="title" placeholder="Type your thought">
        </div>
        <input type="submit" value="Create Thought">
    </form>
</div>