<div class="thought-form-container">
    <a href="/thoughts/dashboard">Back</a>
    <h1>Editing a Thought:</h1>
    <form action="/thoughts/edit" method="post">
    <input type="hidden" name="id" value="{{thought.id}}">
        <div class="form-control">
            <label for="title">Thought:</label>
            <input type="text" name="title" placeholder="Type yout thought" value="{{thought.title}}">
        </div>
        <input type="submit" value="Edit Thought">
    </form>
</div>