/* inicio do Header */
/* Parte superior dele "faixa toda preta" */
#superior{
    height: 30px;
}

#infos{
    height: 19px;
    width: 1394px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 16px;
    padding-top: 7px;
}
/* Parte inferior com logo e menu Nav  */
#inferior{
    height: 80px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.logo{
    padding-top: 39px;
}

/* Menu Nav */
#titulos{
    width: 800px;
    height: 16px;
    justify-content: space-between;
    font-size: 16px;
    padding-top: 57px;
}

/* Botão (Input) */
.pesquisar{
    padding-top: 48px;
}

/* Icones usuario e sacola */
#icones{
    font-size: 25px;
    padding-top: 42px;
}
/* Final do Header */


/* carrousel */
.sec1{
    padding-top: 20px;
    max-width: auto;
}

/* Primeira prateleira de colunas */
#sec2{
    width: 1592px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
/* Imagem da esquerda abaixo do carrousel */
#sec2-esq{
    width: 666px;
    height: 560px;
}

/* Titulo acima das imagens */
.lancamentos{
    display: flex;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    justify-content: center;
}
/* seção com os 2 cards com img, nome e preço */
#sec2-dir{
    width: 780px;
    height: 503px;
}
/* os 2 cards */
#card-master{
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
}

/* titulo da imagem */
.title {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #363636;
    padding-top: 8px;
}

/* preço da imagem */
.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    padding: 15px 0px 5px;
    justify-content: center;
}

/* x no cartao da imagem */
.shelf__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #7B7B7B;
}

.card-body{
    align-items: center;
}

.card{
    width: 350px;
    height: 480px;
}

.card img{
    width: 350px;
}

/* imagem banner */
.sec3{
    width: 1589px;
    height: 263px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 71px;
}
/* 1 prateleira de roupas (4 imagens) */
.sec4{
    width: 1300px;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
}
/* Titulo em cima da 1º ,2º prateleira e @OUTSIDER*/
.titlePrincipaisHome{
    margin-top: 47px;
    margin-bottom: 25px;
    width: 480px;
    height: 35.7px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.2em;
    font-variant: small-caps;
    color: #000000;
}

/* os 4 cards da prateleira */
.card1{
    width: 350px;
    height: 480px;
    margin-left:auto;
    margin-left:auto;   
}


/* imagem banner */
.sec5{
    width: 1589px;
    height: 263px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

/* 2º prateleira de roupas (4 imagens) */
.sec6{
    width: 1300px;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
}


.sec7{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 1920px;
    height: 612px;
}

#cardsSec8{
    width: 1400px;
    height: 401px; 
    margin-left: auto;
    margin-right: auto;
}

.card8{
    width: 350px;
    height: 480px;
    justify-content: space-between;
    display: flex;
}

/* .card8{
    justify-content: space-between;
    display: flex;
    width: 350px;
    height: 480px;
} */