/* inicio do Header */
/* Parte superior dele "faixa toda preta" */
#superior{
    height: 30px;
}

#infos{
    height: 19px;
    display: flex;
    width: 100%;
    max-width: 950px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 12px;
    padding-top: 7px;
}
/* Parte inferior com logo e menu Nav  */
#inferior{
    height: 80px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.logo{
    padding-top: 39px;
}

/* Menu Nav */
#titulos{
    max-width: 800px;
    width: 50%;
    height: 16px;
    display: flex;
    flex-flow: row wrap;
    font-size: 12px;
    padding-top: 57px;
}

/* Botão (Input) */
.pesquisar{
    padding-top: 48px;
}

/* Icones usuario e sacola */
#icones{
    font-size: 20px;
    padding-top: 42px;
}
/* Final do Header */


/* carrousel */
.sec1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    max-width: 1284px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Primeira prateleira de colunas */
#sec2{
    max-width: 1150px;
    width: 80%;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
/* Imagem da esquerda abaixo do carrousel */
#sec2-esq{
    width: 350x;
    height: 350px;
}

/* Titulo acima das imagens */
.lancamentos{
    display: flex;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    justify-content: center;
}
/* seção com os 2 cards com img, nome e preço */
#sec2-dir{
    width: 650px;
    height: 503px;
}
/* os 2 cards */
#card-master{
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
}

/* titulo da imagem */
.title {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #363636;
    padding-top: 8px;
}

/* preço da imagem */
.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    padding: 15px 0px 5px;
    justify-content: center;
    color: #000;
}

/* x no cartao da imagem */
.shelf__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #7B7B7B;
}

.card-body{
    align-items: center;
    text-decoration: none;
}

.card{
    width: 250px;
    height: 300px;
    display:flex ;
}

.card img{
    width: 350px;
}

/* imagem banner */
.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1078px;
    width: 90%;
    height: 263px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/* 1 prateleira de roupas (4 imagens) */
.sec4{
    max-width: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
}
/* Titulo em cima da 1º ,2º prateleira e @OUTSIDER*/
.titlePrincipaisHome{
    margin-top: 40px;
    margin-bottom: 25px;
    width: 480px;
    height: 35.7px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 35.7px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.2em;
    font-variant: small-caps;
    color: #000000;
}

/* os 4 cards da prateleira */
.card1{
    width: 250px;
    height: 300px;
    display: flex;
    margin-left:auto;
    margin-left:auto;   
    flex-direction: column;
}


/* imagem banner */
.sec5{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1078px;
    width: 90%;
    height: 263px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

/* 2º prateleira de roupas (4 imagens) */
.sec6{
    max-width: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
}


.sec7{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1078px;
    width: 90%;
    height: 263px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 190px;
    max-width: 1284px;
    height: 612px;
}

#cardsSec8{
    max-width: 936px;
    width: 72%;
    height: 401px; 
    margin-left: auto;
    margin-right: auto;
}

.card8{
    width: 350px;
    height: 480px;
    justify-content: space-between;
    display: flex;
}

/* .card8{
    justify-content: space-between;
    display: flex;
    width: 350px;
    height: 480px;
} */

/* botão de comprar de todas as img */
.shelf__btn {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    height: 40px;
    margin: 16px 0px;
    opacity: 0;
}

.card1:hover .shelf__btn {
    opacity: 1;
}

.card1:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: 1px solid #f2f2f2;
}

.shelf_body{
    text-decoration: none;
}

