#superior{
    height: 30px;
}

#infos{
    height: 19px;
    width: 1394px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 16px;
    padding-top: 7px;
}

#inferior{
    height: 80px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.logo{
    padding-top: 39px;
}

#titulos{
    width: 800px;
    height: 16px;
    justify-content: space-between;
    font-size: 16px;
    padding-top: 57px;
}

.pesquisar{
    padding-top: 46px;
}

#icones{
    font-size: 40px;
    padding-top: 40px;
}

.sec1{
    padding-top: 20px;
}

#sec2{
    width: 1592px;
    height: 503px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

#sec2-esq{
    width: 666px;
    height: 482px;
}

.lancamentos{
    width: 479px;
    height: 35px;
    font-size: 30px;
    line-height: 35px;
    padding-left: 295px;
}

#sec2-dir{
    width: 780px;
    height: 503px;
}
#card-master{
    align-items: center;
    padding-top: 27px;
    display: flex;
}

.title {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #363636;
    padding-top: 8px;
}
.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    padding: 15px 0px 5px;
    justify-content: center;
}

.shelf__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #7B7B7B;
}

.card-body{
    align-items: center;
}

.card{
    width: 339px;
    height: 400px;
}

#img2-tshirt{
    margin-left: 103px;
}

.sec3{
    width: 1589px;
    height: 263px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 71px;
}