@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.115em;
}

.bg-black{
    background-color: black;
}

.text-white {
    color: #fff;
  }
  
.text-black {
    color: #313131;
  }

.disp-flex{
    display: flex;
}

.justify-space-between{
    justify-content: space-between; 
}

.align-itens{
    justify-content: center;
    align-items: center;
}

.justify-space-center{
    justify-content:center ; 
}

.max-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.bg-cinza {
    background-color: #878787;
}