/* 1. header
/************************************/

#profile {
    display: flex;
    border-bottom: 1px solid #ededed;
}


/* 2. Main
/************************************/
.account__user-info {
    display: flex;
    margin-top: 66px;
    gap: 7px;
}

.account__user-greeting {
    padding-top: 24px;
    font-size: 20px;
}

.account__link {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#account {
    display: flex;
}

.account__page {
    margin-top: 84px;
    margin-left: 32px;
}

.account__itens {
    padding: 15px;
    line-height: 35px;
    color: #979899;
    width: 275px;
    height: 23px;
}

.account__itens:hover {
    color: #000;
}

.account__form {
    border: 1px solid #888888;
    width: 531px;
    height: 299px;
    border-radius: 5px;
    padding: 20px;
}


.profile__form {
    gap: 255px;
}

.profile__form-email {
    gap: 63px;
}

.profile__form-date {
    gap: 151px;
}

.acc_edit {
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 475px;
    width: 68px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.acc_edit:hover {
    background-color: #e3e3e3;
    border-radius: 5px;
}