/* 1. header
/************************************/

#profile {
    display: flex;
    border-bottom: 1px solid #ededed;
}


/* 2. Main
/************************************/
.account__user-info {
    display: flex;
    margin-top: 66px
}

.account__link {
    display: flex;
    flex-direction: column;
    padding-top: 20px
}

#account {
    display: flex;
}

.account__page {
    margin-top: 84px;
    margin-left: 32px
}

.account__itens {
    padding: 15px;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    color: #000;
    width: 275px;
    height: 23px;
}

.account__form {
    border: 1px solid #888888;
    width: 531px;
    height: 299px;
    border-radius: 5px;
    padding: 20px
}

.profile__form {
    display: flex;
    gap: 277px;
    padding-bottom: 48px;
}

.profile__form-email {
    display: flex;
    gap: 91px;
}

.profile__form-date {
    display: flex;
    gap: 181px;
    padding-top: 45px;
    gap: 159px;
}