/* 1. Estilos gerais
/************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0px;
}

a,
ol,
ul {
    text-decoration: none;
    list-style: none;
}

h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    padding-bottom: 14px;
    padding-left: 15px;
}

html {
    font-family: 'Roboto', sans-serif;
}

.max-width-content {
    max-width: 1200px;
    margin: 0 auto;
}

.item-c {
    background: #e3e3e3;
    font-weight: 500;
}

.acc__on-base {
    color: #3f3f40;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 35px;
}

.acc__on-disabled {
    color: #979899;
    font-size: 15px;
}