/* botão de entrar*/
.entrar{
    color: white;
    background-color:black;
    Width: 500px;
    Height: 60px;
    margin-bottom: 43px;
    border: none;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 39px;
    Line-height: 40px;
    Line-height: 100%;
 }
 
 .entrar:hover{
    cursor: pointer;
    font-size: 40px;
    transition: 1.5s;
    box-shadow: 0px 10px 40px black;
 }



 /********* footer - estilização - responsividade *********/


.barracinza{
   height: 80px;
   background-color: rgba(135, 135, 135, 1);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.barracinza>div>h2{
   Font-family: Roboto;  
   Font-style: Bold;
   Font-size: 20px;
   Line-height: 29px;
   Line-height: 100%;
   margin-left: 100px;
   color: white;
}

.barracinza>div>p{
   font-style: Roboto;
   font-Weight: 400;
   font-Size: 13px;
   color: white;
   margin-top: 10px;
   margin-left: 100px;
}

.barracinza>div>input[type="text"]{
   background-color: white;
   Width: 380px;
   Height:35px;
   border: none;  
   Font-family: Roboto;
   Font-style: Regular;
   Font-size: 16px;
   Line-height: 19px;
   Line-height: 100%;
   Vertical-align: Top;
}

.barracinza>div>button{
   Width:158px;
   Height: 37px;
   background-color: black;
   color: white;
}

.barracinza>div>button:hover{
   cursor: pointer;
   transition: 1.5s;
   box-shadow: 0px 10px 40px black;
}

.telapreta{
   background-color: black;
   padding-top: 20px;
   padding-bottom:20px;
}

.telapreta .superior{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.telapreta .superior>#esquerda{
   margin-top: 20px;
}

.paragrafos{
   margin-top: 15px;
   color: white;
}

#iconesinferior{
   padding-top: 25px;
   display: flex;
   justify-content: space-around;
}

#tamanhoimagem{
   width: 300px;
   height: 300px;
}

@media screen and (max-width:1820px){
   /* footer */
   .barracinza>div>input[type="text"]{
       width: 200px;
       height: 30px;
   }
}

@media screen and (max-width:950px){
   .barracinza{
       display: none;
   }
}

@media screen and (max-width:375px){
.telapreta .superior{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
}