/* botão de entrar*/
.entrar{
    color: white;
    background-color:black;
    Width: 500px;
    Height: 60px;
    margin-bottom: 43px;
    border: none;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 39px;
    Line-height: 40px;
    Line-height: 100%;
 }
 
 .entrar:hover{
    cursor: pointer;
    font-size: 40px;
    transition: 1.5s;
    box-shadow: 0px 10px 40px black;
 }